<ion-content class="ion-padding home-container">

  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>¿Qué tipo de cumpleaños se celebra?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input placeholder="Ej. Cumpleaños infantil, adulto, sorpresa..."></ion-input>
    </ion-card-content>
  </ion-card>

  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>Edad del festejado</ion-card-title>
    </ion-card-header>
    <ion-card-content class="age-selector">
      <ion-button fill="outline" (click)="decrementAge()">-</ion-button>
      <div class="age-number">{{ age }}</div>
      <ion-button fill="outline" (click)="incrementAge()">+</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>Idioma del festejo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-segment [(ngModel)]="language">
        <ion-segment-button value="es">
          <ion-label>Español</ion-label>
        </ion-segment-button>
        <ion-segment-button value="en">
          <ion-label>Inglés</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>
  </ion-card>

  <div class="next-button-container">
    <ion-button expand="block" (click)="goToStep2()">Siguiente</ion-button>
  </div>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToHistory()">
      <ion-icon name="book-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>