<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>eCandle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>¿Cuántos años cumple?</h2>

  <div class="age-selector">
    <ion-button (click)="decreaseAge()" fill="outline" shape="round">
      <ion-icon name="remove-outline"></ion-icon>
    </ion-button>

    <ion-select [(ngModel)]="selectedAge" interface="popover">
      <ion-select-option *ngFor="let age of ages" [value]="age">
        {{ age }} años
      </ion-select-option>
    </ion-select>

    <ion-button (click)="increaseAge()" fill="outline" shape="round">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
